<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AmbiTroubleShooting.Properties.Settings.ConnectionString"
            connectionString="initial catalog=D:\PROGRAMAS\CompuFour\Clipp_ASSISTENCIA\Base\CLIPP_TESTE.FDB;data source=192.168.10.250;user id=sysdba;Password=masterkey"
            providerName="FirebirdSql.Data.FirebirdClient" />
        <add name="AmbiTroubleShooting.Properties.Settings.ConnectionString1"
            connectionString="character set=WIN1252;initial catalog=D:\PROGRAMAS\CompuFour\Clipp_ASSISTENCIA\Base\CLIPP_TESTE.FDB;data source=192.168.10.250;user id=sysdba;Password=masterkey"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>